*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: PP Woodland;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: #111;
    color: #fafafa;

}
nav{
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav-part2{
    display: flex;
    align-items: center;
    gap: 25px;
}
p{
    padding: 5px;
    font-size: 20px;
}
nav h2{
    font-size: 30px;
    padding: 10px 30px;
    font-weight: 600;
}
footer{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}
footer h3{
    font-size: 20px;
    font-size: 500;
}